<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JavaScriptEngineSwitcher.Core" version="1.2.4" targetFramework="net452" />
  <package id="JavaScriptEngineSwitcher.Msie" version="1.4.0" targetFramework="net452" />
  <package id="JavaScriptEngineSwitcher.V8" version="1.4.1" targetFramework="net452" />
  <package id="JSPool" version="0.3.1" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net452" />
  <package id="MsieJavaScriptEngine" version="1.6.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="React.Core" version="2.2.0" targetFramework="net452" />
  <package id="react.js" version="0.13.1" targetFramework="net452" />
  <package id="React.Owin" version="2.2.0" targetFramework="net452" />
  <package id="React.TypeScript.DefinitelyTyped" version="0.1.12" targetFramework="net452" />
</packages>