<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="indexusNetSharedCache" type="SharedCache.WinServiceCommon.Configuration.Client.IndexusProviderSection, SharedCache.WinServiceCommon"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral"/>  
    <section name="Fanex.Data.DbSettingProvider" type="Fanex.Data.Configuration.DbSettingProviderConfigurationSection, Fanex.Data"/>
  </configSections>
  <!--Live Casino-->
  <Fanex.Data.DbSettingProvider default="XmlDbSettingProvider">
    <providers>
      <add name="XmlDbSettingProvider" type="Fanex.Data.Configuration.XmlDbSettingProvider, Fanex.Data" resourcePath="~/SpNames.xml" enableWatching="1"/>
    </providers>
  </Fanex.Data.DbSettingProvider>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>
    </typeAliases>
    <containers>
      <container name="BingoContainer">
        <types>
          <type type="ICustomerService" mapTo="CustomerService"/>
          <type type="IReportService" mapTo="ReportService"/>
          <type type="ICustomerDAO" mapTo="LinqCustomerDAO"/>
          <type type="IReportDAO" mapTo="LinqReportDAO"/>
        </types>
      </container>
    </containers>
  </unity>  
  <appSettings/>
  <connectionStrings>
    <clear/>
    <add name="main" connectionString="packet size=4096; Data Source=10.18.200.206;Initial Catalog=bodb02;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="transaction" connectionString="packet size=4096; Data Source=10.18.200.206;Initial Catalog=bodb02;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="archive" connectionString="packet size=4096; Data Source=10.18.200.215;Initial Catalog=bodb02;Connect Timeout=600;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="archive05" connectionString="packet size=4096; Data Source=10.18.200.215;Initial Catalog=bodb02;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="archive052" connectionString="packet size=4096; Data Source=10.18.200.215;Initial Catalog=bodb02;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="archive053" connectionString="packet size=4096; Data Source=10.18.200.215;Initial Catalog=bodb02;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="archive06" connectionString="packet size=4096; Data Source=10.18.200.215;Initial Catalog=bodb02;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="on_user" connectionString="packet size=4096; Data Source=10.18.200.215;Initial Catalog=on_user; max pool size=1000; integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="db03" connectionString="packet size=4096; Data Source=10.18.200.215;Initial Catalog=bodb02;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="dblog" connectionString="packet size=4096; Data Source=10.18.200.215;Initial Catalog=bodb_CustomerLog;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="warehouse" connectionString="packet size=4096; Data Source=10.18.200.215;Initial Catalog=bodb02;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="CS_BackupDB" connectionString="Data Source=10.18.200.206;Initial Catalog=CasinoAdmin;User ID=Dot_Agent;Password=agent168" providerName="System.Data.SqlClient"/>
    <add name="CS_ArchiveDB" connectionString="Data Source=10.18.200.206;Initial Catalog=CasinoAdmin;User ID=Dot_Agent;Password=agent168" providerName="System.Data.SqlClient"/>
    <add name="BG_BackupDB" connectionString="packet size=4096; Data Source=10.18.200.206;Initial Catalog=BingoAdmin;integrated security=false; user id=Dot_Agent; password=36BcgKJdbUkK94Sqe15Dng===" providerName="System.Data.SqlClient"/>
    <add name="BG_ArchiveDB" connectionString="packet size=4096; Data Source=10.18.200.206;Initial Catalog=BingoAdmin;integrated security=false; user id=Dot_Agent; password=36BcgKJdbUkK94Sqe15Dng===" providerName="System.Data.SqlClient"/>
    <add name="CS_LiveBackupDB" connectionString="Data Source=10.18.200.206;Initial Catalog=BingoAdmin;integrated security=false; user id=Dot_Agent; password=agent168" providerName="System.Data.SqlClient"/>
    <add name="MessageDB" connectionString="Data Source=10.18.200.215;Initial Catalog=bodb_message;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="maintenance" connectionString="packet size=4096; Data Source=10.18.200.206;Initial Catalog=dbo_Maintenance;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="CustomerLogEntities" connectionString="Data Source=10.18.200.215;Initial Catalog=bodb_CustomerLog;User ID=bodbDownlineNet;Password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="IPEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.18.200.206;Initial Catalog=IPDB;User ID=bodbDownlineNet;Password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==&quot;" providerName="System.Data.EntityClient"/>
    <add name="LiveCasinoAdmin" connectionString="Data Source=10.18.200.206;Initial Catalog=LiveCasinoAdmin;Persist Security Info=True;User ID=LVCasino_Agent;Password=%$casinoag#@1" providerName="System.Data.SqlClient"/>

    <add name="DBAGE.BODB02" connectionString="packet size=4096; Data Source=10.18.200.215;Initial Catalog=bodb02;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="DBAGE.bodb_AGE" connectionString="packet size=4096; Data Source=10.18.200.215;Initial Catalog=bodb_AGE;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>
    <add name="DBTXN.BODB02" connectionString="packet size=4096; Data Source=10.18.200.206;Initial Catalog=bodb02;integrated security=false; user id=bodbDownlineNet; password=TBAw8F+PqCx3u382anlnOVRxKIJYMsMwXVn1hJpeyKk==" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.web>
    <machineKey validationKey="DBD341D2E939399A19F6A977A91447BB784B473FD8EAFC272440BA1BE85289C39F681921F05F8DC08E452A7292F986B311ADADD23C7D3DE0B6A0999E0B4D792C" decryptionKey="A6925D7BFBEAD2B3FF1D5C54F862447209527FD7DD70B043AEB4CEBCB0BBF7E4" validation="SHA1" decryption="AES"/>
    <httpRuntime executionTimeout="600" maxRequestLength="2000000000" maxUrlLength="200" maxQueryStringLength="2097151" requestValidationMode="2.0" requestPathInvalidCharacters=""/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="None">      
    </authentication>    
    <customErrors mode="Off" defaultRedirect="~"/>
    <sessionState mode="StateServer" timeout="120" cookieless="true"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <trace enabled="false" localOnly="false" traceMode="SortByTime"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="_GlobalResources">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules>
      <add name="TplCore" type="TplCore.Web.HttpHeaderModule"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" maxUrl="260" maxQueryString="30000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
